* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
}

body {
    width: 900px;
    margin: 0 auto;
}

.first table {
    border: 5px solid rgb(2, 2, 43);
    width: 700px;
    border-bottom: 0;
    border-collapse: collapse;
}

.first table tr th, .first td {
    border-bottom: 1px solid black;
    text-align: center;
}

.first table .left {
    text-align: left;
}


.first table .color {
    background-color: rgb(228, 86, 117);
}

.first table .blue {
    background-color: rgb(133, 163, 228);
}

.first table .red {
    background-color: rgb(184, 22, 57);
}

.first table .yellow {
    background-color: rgb(237, 248, 135);
}

.first table .a {
    border-bottom: none;
}

.second table {
    border: 2px dotted;
    width: 400px;
    border-collapse: collapse;
}

.second table tr th, .second td {
    border: 2px dotted black;
    padding: 10px;
    text-align: center;
}


